<div class="header">

    <ul class="nav">
 <li><a class="active" href="#">Home</a></li>
 <li><a routerLink="/blogs">Blog</a></li>
 <li><a href="/contact">Contact</a></li>
 <li style="float: right;"><a  href="#">About</a></li>
 </ul>     
     </div>

     