/* start Menu bar */
.header {
    font-family: 'Montserrat', sans-serif;

}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
float: left;

}
li:last-child{
    border-right: none;
}

li a {
   display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;

}
li a:hover {
background-color: #111;
}
.active {
    background-color: #04AA6D;
}
 /* end menu bar */