
 .grid-container-main {
    display: grid;
    grid-template-columns: 55% auto;
    padding: 10px;
    grid-gap: 10px;
    font-family: Montserrat;
  }
  
  .grid-container-info {
    display: grid;
    grid-template-columns: 20% auto;
    grid-row-gap:100px; 
     font-family: Monsterrat, sans-serif;
     background: #04AA6D;
     padding: 30px;
     color: rgb(255, 255, 255);
    
  
  }
  
  
  .grid-item2 {
  line-height: 10px;
  }
  .grid-item3 {
  line-height: 9px;
  }
  .grid-item4 {
  line-height: 2px;
  }
  
  
  body  {box-sizing: border-box;
  font-family: Montserrat;}
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #04AA6D;
  }
  
  .container {
    background-color: #333;
    padding: 20px;
    color:white;
  }
  .contact {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;

  }
  