<p>home works it up right away {{currentCustomer}}!</p>
<div><img src="{{itemImageUrl}}"></div>
<p>The sum of 1 + 1 is {{1 + 1}}.</p>
<h2>{{"Welcome to " + currentCustomer}}</h2>
<p>{{currentCustomer.length}}</p>
<p>{{currentCustomer.toUpperCase()}}</p>
<p>{{greetCustomer()}}</p>
