
  <div class="grid-container">

 <div class="left">
<h4>Sabaoon Ullah</h4>
<p>Front End Dev</p>
<input type="submit" value="Follow">
</div>
    <div class="blog">
        <h1>How to install a specific Angular version</h1>
        <h4>Let’s install different Angular releases in our local machine (works with Angular 2, Angular 4, Angular 5, Angular 6, Angular 7)</h4>
        <div class="ab-grid">
            <img class="ppimage" src="https://miro.medium.com/fit/c/28/28/1*r6z-CdceVyUiu3ZYPAgIZw.jpeg" width="28" height ="28">
              <div class="uname">Sabaoon Ullah</div>
              <div class="date">Aug 15, 2021</div>  
              <div class="etr">5 min read.</div>
            </div>
            <br>
            <br>
    <img class="blog-banner" src="https://miro.medium.com/max/700/1*A7Rp42CbB7uyFDuB7_pZAQ.png" alt="blog pic">
    <p>
        In a day to day job as a developer, sometimes we are asked to jump or to work with projects that are using different Angular releases. </p>


<p>is due to many factors:</p> 

<p>your client, or your company, does not know that there is a newer and more secure Angular version already released or that this is going to be released soon;
maybe the company is concerned that some libraries or plugins that they are currently using, will not work with the updated Angular version;
the clients you are working with have not planned yet the most recent Angular update (…and they will never plan it);
they would like to update the version, but there is no time in their plans to do it because of multiple deadlines they currently have (and they will always have).
</p>
<p>number of Angular releases… And still counting…</p> 

<p>now that there are several official releases outside, sometimes this issue is becoming a little bit stressful because you are going to deal with some deprecations or some new features that Angular’s developers have added. Remembering all of them is quite impossible but luckily TypeScript is a language that at least is helping us in finding automatically errors and alerting us when there is something wrong with the code.
</p>
<p>The problem is that the lint feature is helpful only if the version you are using locally in your machine is the same as the project you are supposed to work with. Absurdly, it is a waste of time using HttpClientModule in your local machine and then discover that your client’s project is in Angular 2! 
    </p>
    </div>  
    <div class="right">

    </div>
     

