 /*All blog container*/
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'left main main main main right'
      'footer footer footer footer footer footer';
    grid-gap: 0px;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.842);
  
  }
  .header { grid-area: header; 
    font-size: 15px;
  }
  .blog-banner{
    max-width: auto;
  }
.left { grid-area: left;
  width: 350px;
  padding: 0;
  line-height: 1px;
}
.left p{
    font-size: 15px;
    padding: 0;
}
.right {grid-area: right;
width: 300px;
}
  .blog { 
    grid-area: main;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
.blog h1 {
    font-size: 32px;
font-weight: 900;
line-height: 40px;
}
 
.blog h4 {
font-weight: 800;
color: rgb(117, 117, 117);
width: auto;
}
.blog p{
    size: 18px;
} 

  .follow {
    font-size: 10px;
  }

    /*profile under blog name*/
  .ppimage { grid-area: ppimage;
    vertical-align: middle;
    border-radius: 50%;

}
.uname { grid-area: uname;
  font-weight: bold; }
.date { grid-area: date;
font-weight: 300;
}
.etr { grid-area: etr; 
font-weight: 300;
}

.ab-grid {
  display: inline-grid;
  grid-template-areas:
    'ppimage uname date etr';
  grid-gap: 10px;
  padding: 0px;
}

.ab-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
  font-size: 14px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}